:root {
  --clr-blue: #007bff;
  --clr-lightblue: #e2fcff;
  --clr-purple: #6f2da8;
  --linear-blue: linear-gradient(rgba(226, 252, 255, 0) 0%, rgba(226,252,255,1) 20%, rgba(226,252,255,1) 76%, rgba(226,252,255,0) 100% );
  --linear-purple: linear-gradient(#eadaff 20%, #eadaff 71%, rgba(234, 218, 255, 0) 100%);
  --linear-plus: linear-gradient(90deg, #6f2da8 0%, #b391d1 48%, #e0cdf1 100%);
  --linear-minus: linear-gradient(90deg, #007bff 0%, #a3c7ed 100%);
  --linear-gray: linear-gradient(#f2f2f2 56%, #c1bdbb 80%, #8a817c 100%);

  --txt-body-p: 1.875rem; /* 30px */
  --fnt-btn: 1.5rem;

}

@media screen and (width < 1500px) {
  :root {
    --fnt-btn: 1.2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2 {
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
  font-size: 32px;
}

h3, p, span, a, label, input {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

.btn {
  width: fit-content;
  padding: 8px 16px;
  font-weight: 700;
  font-size: var(--fnt-btn);
  color: white;
  border-radius: 8px;
  filter: drop-shadow(5px 4px 7.8px rgba(0,0,0,0.25));
  display: block;
}

.btn-primary {
  background: var(--linear-plus);
}

.btn-primary:hover {
  background: var(--linear-minus);
}

.btn-secondary {
  color: var(--clr-purple);
  border: 3px solid var(--clr-purple);
}

/* forms */
.form-container {
  width: fit-content;
  margin: auto;
}

.form-item {
  display: grid;
  gap: 24px;
}

.form-item:first-of-type {
  margin-bottom: 24px;
}

.form-item label {
  font-size: var(--txt-body-p);
  line-height: 34px;
  font-weight: 700;
}

.form-item input {
  padding: 14px 24px;
  border-radius: 18px;
  font-size: 24px;
  border: 4px solid #9747ff;
}

.form-item input:focus-visible {
  outline: none;
  border-color: #007bff;
}

.form-item input:focus-visible::placeholder {
  color: transparent;
}

.form-container button {
  margin-top: 24px;
  margin-inline: auto;
  box-shadow: 5px 4px 7.8px rgba(0,0,0,0.25);
}

footer .form-item input {
  background-color: rgba(151, 71, 255, 0.3);
  color: white;
}

header {
  width: 100%;
  background-color: var(--clr-lightblue);
}

nav {
  width: 100%;
  padding-inline: clamp(5%, 150px, 8.33%);
  padding-block: 40px;
  display: flex;
  justify-content: space-between;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img{
  width: auto;
  height: 80px;
}

@media screen and (width < 1360px) {

}

/* nav .logo span {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  font-weight: 700;
} */

.nav-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-list li {
  list-style: none;
}



nav .others {
  display: flex;
  gap: 20px;
  align-items: center;
}

nav .others .dropdown-container {
  min-width: 80px;
  height: 80px;
  position: relative;
}

nav .others .language {
  padding-block: 8px;
  padding-inline: 8px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  border-radius: 18px;
  position: absolute;
  /* top: -10px; */
}

nav .others .language:hover {
  grid-template-rows: repeat(4,1fr);
  background-color: var(--clr-lightblue);
  border: 2px solid #007bff;
  position: relative;
  z-index: 2;
}

nav .others img {
  width: 60px;
  height: auto;
  aspect-ratio: 1 /1 ;
}



nav .others .language .lang-icon:hover {
  /* filter: drop-shadow(0 0 #007bff); */
  /* border: 2px solid #007bff; */
  outline: 2px solid #007bff;
  border-radius: 100%;
}

nav .others .language .lang-icon:not(:first-of-type) {
  display: none;
  /* position: absolute; */
}



nav .others .language:hover .lang-icon:not(:first-of-type) {
  display: block;
}

nav .others .language:hover .lang-icon:nth-of-type(2) {
  /* margin-top: 100%; */
}

nav .others .language:hover .lang-icon:nth-of-type(3) {
  /* margin-top: 200%; */
}

nav .others .language:hover .lang-icon:nth-of-type(4) {
  /* margin-top: 300%; */
}

/* main */
main {
  overflow-x: hidden;
}

section {
  padding: 210px clamp(5%, 150px, 8.33%);
}

/* hero */

.hero {
  min-height: 900px;
  padding-top: 60px;
  background-image: url(./images/Hero-Section/Background\ -\ Full_hero.png),linear-gradient(#000 31%, rgba(0,0,0,59%) 54%, rgba(0,0,0,0) 79%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero .underline {
  margin-block: 40px;
  margin-inline: auto;
}

.hero p {
  margin: auto;
  max-width: 724px;
  font-size: var(--txt-body-p);
  text-align: center;
}

.hero .btn {
  margin: auto;
  margin-top: 60px;
  border: 5px solid white;
  box-shadow: 5px 4px 7.8px rgba(0,0,0,0.25);
}

.hero .btn:hover {
  color: var(--clr-blue);
  border-color: var(--clr-blue);
}

/* about */
.about {
  display: grid;
  grid-template-columns: 1.5fr 1.2fr;
  /* gap: 10%; */
}

.about h2 {
  margin-bottom: 2rem;
  font-size: 2.375rem;
}

.about p {
  font-size: var(--txt-body-p);
}

.about img {
  transform: scale(1.6) translateY(-10%);
}

/* howtoplay */

.howtoplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
}

.howtoplay h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2.375rem;
}

.howtoplay p {
  font-size: var(--txt-body-p);
}

/* journey */

.journey {
  background: var(--linear-blue);
  padding-bottom: 310px;
}

.journey h2 {
  padding-bottom: 1em;
  font-size: 3rem;
}

.journey .timeline {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "a b c"
  "d e f"
  "g h i";
  /* row-gap: 60px; */
  position: relative;
}

.journey .timeline-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 34px;
  /* z-index: 1; */
}

/* .journey .timeline-background {
  content: '';
  height: 100%;
  width: 100%;
  background-image: url(./images/timeline_1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
} */

.journey .timeline .entry {
  text-align: center;
  position: relative;
}

:is(.journey .timeline .entry):nth-of-type(4),
:is(.journey .timeline .entry):nth-of-type(5),
:is(.journey .timeline .entry):nth-of-type(6) {
  transform: translateY(50%);
}

.journey .timeline .entry:nth-of-type(4) {
  grid-area: f;
}

.journey .timeline .entry:nth-of-type(6) {
  grid-area: d;
}

:is(.journey .timeline .entry):nth-of-type(7),
:is(.journey .timeline .entry):nth-of-type(8),
:is(.journey .timeline .entry):nth-of-type(9) {
  transform: translateY(100%);
}

/* .journey .timeline .entry::after {
  content: '';
  width: 100%;
  height: calc(100% - 3px);
  border-top: 3px dashed var(--clr-blue);
  position: absolute;
  top: 34px;
  left: 0;
}


.journey .timeline .entry:nth-child(3)::after {
  border-right: 3px dashed var(--clr-blue);
  border-bottom: 3px dashed var(--clr-blue);
  border-radius: 0 30px 30px 0;
} */

.journey .timeline .entry img {
  margin: auto;
  text-align: center;
  position: relative;
}

.journey .timeline .entry h3 {
  max-width: 230px;
  margin: auto;
  font-size: 30px;
  line-height: 34px;
}

.journey .timeline .entry p {
  max-width: 230px;
  margin: auto;
  font-size: 24px;
}

/* rewards */

.rewards .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
}

.rewards .image-container {
  /* max-width: 60vw; */
  /* width: 635px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
}

.rewards .image-container img {
  max-width: 60%;
  position: relative;
}

.rewards .image-container img:first-of-type {
  margin-right: auto;
  grid-column: 1 / 2;
  grid-row: 1 / 2 ;
  transform: scale(66%, 66%) translateX(-26%);
}

.rewards .image-container img:nth-of-type(2) {
  transform: scale(79%, 79%) translateX(20%);
  grid-column: 1 /2;
  grid-row: 1 / 2 ;
}

.rewards .image-container img:nth-of-type(3) {
  grid-column: 1 / 2 ;
  grid-row: 1 / 2;
  transform: translateX(66%);
}

.rewards h2 {
  padding-block: 32px;
}

.rewards p {
  font-size: var(--txt-body-p);
}

.ecosystem .logo-container {
  margin-block: 100px 50px;
  display: flex;
  justify-content: center;
  gap: 66px;
}

.ecosystem .logo-item {
  max-width: 210px;
  flex: 1;
}

.ecosystem h3 {
  text-align: center;
  font-size: 38px;
  font-family: 'Orbitron', sans-serif;
}

/* choose-your-character */

.cyc {
  background-color: #eadaff;
  background-image: url(./images/Choose-Your-Character/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.cyc .grid-container {
  padding-top: 30px;
  display: grid;
  grid-template-areas:
  "a c"
  "b c";
  position: relative;
}

.cyc .text-container {
  grid-area: a;
}

.cyc .text-container h2 {
  margin-block: 1em;
  font-size: 2.375rem;
}

.cyc .text-container p {
  font-size: var(--txt-body-p);
}

.cyc .img-container {
  grid-area: c;
}


.cyc .guide {
  max-width: 100%;
  grid-area: b;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

/* stage */
.stage {
  background-color: #eadaff;
}

.stage .timeline {
  min-height: 700px;
  display: grid;
  grid-template-areas: 
  "a b c"
  "d . e";
  /* row-gap: 24px; */
  position: relative;
  text-align: center;
  column-gap: 5%;
}

.stage .timeline-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 34px;
  z-index: 0;
}

/* .stage .timeline::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(./images/timeline_2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 30px;
} */

.stage .timeline .entry {
  min-height: 400px;
  z-index: 1;
}

.stage .timeline .entry:nth-of-type(n+4) {
  transform: translate(55%, 33%);
}

.stage .timeline .entry > *:not(:last-child) {
  margin-bottom: 12px;
}

.stage .timeline img {
  margin-inline: auto;
}

.stage .timeline :is(h3, h4) {
  font-size: 30px;
  line-height: 34px;
}

.stage .timeline h4 {
  font-weight: 400;
  font-family: 'Open sans', sans-serif;
}

.stage .timeline p {
  font-size: 1.5rem;
}
@media screen and (width < 1440px) {
  .stage .timeline p {
    font-size: 1.2rem;
  }
}

/* faq */
.faq {
  background: var(--linear-purple);
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-item {
  filter: drop-shadow(5px 4px 5px rgba(0,0,0,0.25));
}

.faq summary {
  list-style: none;
  position: relative;
}

.faq summary::after {
  content: '';
  width: 74px;
  height: 74px;
  background: url(./icons/Icons-Plus-Button.svg), var(--linear-plus);
  background-size: cover;
  border-radius: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.faq details[open] summary::after {
  background: url(./icons/Icons-Minus-Button.svg), var(--linear-minus);
  background-size: cover;
}

.faq summary h3 {
  width: calc(100% - 85px);
  min-height: 75px;
  padding-left: 53px;
  padding-block: 20px;
  background-color: var(--clr-lightblue);
  border-radius: 38px;
  font-size: var(--txt-body-p);
  line-height: 34px;
  line-height: 1;
}

.faq .answer {
  margin-top: 24px;
  padding: 30px 45px 15px 45px;
  background-color: #002395;
  border-radius: 38px;
  filter: drop-shadow(5px 4px 5px rgba(0,0,0,0.25));
  color: white;
  font-size: var(--txt-body-p);
  font-weight: 400;
  line-height: 34px;
}

footer {
  padding: 160px 100px;
  background-image: url(./images/Footer/Background\ -\ Full.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

footer h2 {
  padding-bottom: 60px;
  text-align: center;
  font-size: 3rem;
}

footer .form-item input::placeholder {
  color: white;
}


/* coming soon */
main:has(.coming-soon) {
  background: url(./images/Hero-Section/Background_hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

main:has(.coming-soon)::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: var(--linear-gray);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  inset: 0;
}

.coming-soon {
  max-width: 1200px;
  margin: auto;
  padding-block: 105px;
  position: relative;
  z-index: 1;
}

.coming-soon :is(h1, p) {
  text-align: center;
  margin-bottom: 1.2em;
}

.coming-soon p {
  font-size: var(--txt-body-p);
}